<div *ngIf="courses.length>0; then listCourses else emptyCourses"></div>
<ng-template #listCourses>
    List of courses
</ng-template>
<ng-template #emptyCourses>
    No courses
</ng-template>

<button class="btn btn-success" (click)="addCourse()">Add Course</button>
<button *ngIf="!isShow" class="btn btn-secondary" (click)="showCourses()">Show courses</button>
<button *ngIf="isShow" class="btn btn-secondary" (click)="showCourses()">Hidd courses</button>
<ul *ngIf="isShow">
    <li *ngFor="let course of courses;trackBy : trackCourse" class="list">
        <p>{{course.id}}-</p>
        <p>{{course.name}}</p>
        <button class="btn btn-danger" (click)="removeCourse(course)">Remove course</button>
    </li>
</ul>
