<form>
    <div class="form-group">
        <label for="firstName">First name</label>
        <input class="form-control" id="firstName" type="text" placeholder="Ex: marouane">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="form-control" id="lastName" type="text" placeholder="Ex: zahaoui">
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" type="text" placeholder="Ex: write a comment..."></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
